<div class="container-fluid bg-dark text-white sticky-top">

  <nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand logo" href="#"><img src="../assets/images/acheron logo.png" style="width: 100px;height: 100px;"><strong>Published Media</strong></a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav col-lg-8">
              <div class="input-group ">
                  <input class="form-control" type="search"  id="myInput">
                  <span class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
              <i class="fa fa-search"></i>
          </button>
        </span>
    </div>
          </ul>

          <ul class="navbar-nav serch">
              <li class="nav-item ">
                 <img src="../../assets/images/user.svg" style="width:100px;height:50px;" class="img-fluid user"><span class="" id="logger">Hello </span>
              </li>
              <li class="nav-item">
                  <button class="btn btn-secondary btn-log ml-4 mt-2" id="logOut">Log Out</button> 
              </li>                 
         </ul>
      </div>
  </nav>

</div>