<section>
  <div class="col-lg-4 py-4 mx-auto text-white ">
      <form class="mt-4 reg" autocomplete="off">
          <div class="form-row px-3">
              <div class="col-lg-12">
                  <h4 class=" py-2 px-2  text-center"><i class="fas fa-lock ml-2"></i>  Registration Form </h4>
              </div>
          </div>
          <div class="form-row px-3">
              <div class="col-lg-12">
                  <label for="username"><strong>User Name :</strong></label>
                  <input type="text" class="form-control form" id="uname" placeholder="First name" value="">
                  <div class="valid-feedback">
                  </div>

              </div>
          </div>
          <div class="form-row px-3 ">
              <div class="col-lg-12">
                  <label for="email"><strong>Email :</strong></label>
                  <input type="email" class="form-control form" id="email" placeholder="Enter Email..." value="">
                  <div class="valid-feedback">
                  </div>
                  <div class="invalid-feedback">

                  </div>

              </div>
          </div>
          <div class="form-row px-3">
              <div class="col-lg-12">
                  <label for="password"><strong>Password :</strong></label>
                  <input type="Password" class="form-control form" id="rpwd" placeholder="Enter Password..." value="">
                  <div class="valid-feedback">
                  </div>
                  <div class="invalid-feedback">
                  </div>
              </div>
          </div>

          <div class="form-row px-3">
              <div class="col-lg-12">
                  <label for="Conform Pwd"><strong>Confirm Password :</strong></label>
                  <input type="Password" class="form-control form" id="cfmpwd" placeholder="Confirm Password..." value="">
                  <div class="valid-feedback">
                  </div>
                  <div class="invalid-feedback">
                  </div>
              </div>
          </div>
          <div class="form-row px-3">
              <div class="col-lg-12">
                  <label for="mobile"><strong>Mobile :</strong></label>
                  <input type="text" class="form-control form" id="mobile" placeholder="Mobile number..." value="">
                  <div class="valid-feedback">
                  </div>
                  <div class="invalid-feedback">
                  </div>
              </div>
          </div>
          <div class="form-row py-3 px-5">
              <button type="button" class="btn btn-primary btn-block regbtn" id="user_data" data-dismiss="modal" disabled="disabled">Submit </button>
          </div>
      </form>
  </div>
  
</section>